DATABASE_URL="postgresql://postgres:password@localhost:5432/nisir_tasker?schema=public"
JWT_ACCESS_SECRET="your_access_secret_key"
JWT_REFRESH_SECRET="your_refresh_secret_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:3000"
SERVER_URL="http://localhost:3001"
NODE_ENV="development"
